.menu{
	background: #2c3e50;
}
.menu ul{
	margin: 0 !important;
	text-align: center;
}
.menu ul li{
	margin-right: 35px !important;
}
..menu ul li:last-child{
	margin: 0px !important;
}
.menu ul li a{
	padding: 15px;
	font-size: 18px;
	display: inline-block;
	color: #fff;
	font-weight: 700;
	text-decoration: none;
	transition: .5s;
}

.menu ul li.active a{
	background: #e74c3c;
}